*{
  margin: 0;
  padding: 0;
}
body{
  width: 360px;
  height: 740px;
  background: #D9D9D9;
  display: flex;
  flex-direction: column;
  color: #1F3173;

}
header,footer{
  background: #1A1B1C;
  width: 359px;
  height: 61px;
  filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.25));  
}
.minitexto
{
  font-family: "Audiowide", sans-serif;
  color:#1F3173;
  font-weight: 700;
}
h1
{
  color: white;
  font-family: "Audiowide", sans-serif;
  font-size: 21px;
  margin-left: 30px;
  margin-top: 10px;
}
h2
{
  color: #FFF;
  text-align: center;
  font-family: Genos;
  font-size: 10px;
  font-style: italic;
  font-weight: 200;
  margin-left: 27px;
}
.tudo
{
  display: flex;
  flex-direction: row;
}
.imagem
{
  margin-top: 8px;
  margin-left: 15px;
}
.h3
{
  color: white;
  font-family: "Audiowide";
  font-size: 15px;
}

.texto
{
    width: 100%;
    height: 50px;
    margin-top: 40px;
    color: #1F3173;
    font-size: 18px;
    font-family: "Audiowide";
    justify-content:center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    margin-top: 5px;
}

.box
{
  width: 310px;
  height: 580px;
  flex-shrink: 0;
  margin-left: 25px;
  border-radius: 10px;
  background-color: #d5d5d5ce;
   box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5), 0px 4px 4px 0px rgba(0, 0, 0, 0.5), 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content:center;
  justify-items: center;
  align-items: center;
  align-content: center;
  display: flex;
  
}

fieldset
{
    height: 96%;
    border-style: solid;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    border-style: none;
}
.text
{
 width: 270px;
 height: 23px;
 flex-shrink: 0;
 gap: 5px;
 margin-left: 2px;
 border-radius: 5px;
 border: 1px solid #FFFCFC;
 background: #FFF;
 padding-left: 10px;
 font-family: Candara;
 font-size: 15px;
 border-color: #1F3173;
 border-width: 1px;
 margin-top: 5px;
padding-left: 5px;
}
.data
{
  border-radius: 5px;
  border: 1px solid #1F3173;
  height: 30px;
  font-size: 13px;
  width: 40%;
  margin-top: -5px;
  padding-left: 5px;
}
.enviar
{
    font-weight: 400;
    text-transform: uppercase;
    margin-top:15px ;
    margin-left: 55px;
    background-color: #1F3173;
    color: #d9d9d9;
    font-family: "Audiowide", sans-serif;
    margin-top: 5px;
    width: 55%;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 30px;
}
.certo
{
    background-color: rgb(189, 238, 189);
    color: rgb(22, 107, 36);
}

.errado
{
    background-color: rgba(124, 9, 9, 0.856);
    color: white;
}    