*{
    margin: 0;
    padding: 0;
}
body{
    width: 360px;
    height: 740px;
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
 

}
header,footer{
    background: #242424;
    width: 359px;
    height: 92px;
    filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.25));
    
    
}
.imagem{
  position: absolute;
    left: 114px;
    top:30px
}
section{
   
    height: 499PX ;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    
}
H2{color: #000;
font-family: Material Icons;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;}

.container{
    width: 270px;
    height: 246px;
    border-radius: 34px;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25), 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    display: flex; 
    align-items: center;
    justify-items: center;
     align-content: center;
    justify-content: center;
    padding: 10px;
flex-shrink: 0;

}

.input_field{
  height: 100%;
  width:100%;
  align-items: center;
 display: flex;
    justify-items: center;
    align-content: center;
    justify-content: center;
    
}

.espace input::-webkit-inner-spin-button,
.espace input::-webkit-outer-spin-button{
    display: none;
}

.espace input:focus{
    outline: 3px solid #00b991;
    outline-offset: 2px;}

    .cod{
       margin-left: 5px;
       width: 40px;
       height: 40px;
       border-radius: 5px;
       border-style: solid;
       border-color: #bbbbbb;
      


    
    }
    button{
        margin-top: 10px;
        width: 169px;
        height: 53px;
        flex-shrink: 0;
        border-radius: 8px;
        background: linear-gradient(270deg, #1F3173 0%, #405ECC 100%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: white;
        border: none;
    }