body {
   margin: 0;
   padding: 0;
   background-color: #d9d9d9;
   justify-content: space-around;
   justify-items: center;
   align-items: center;
   align-content: center;
   font-family: OCR A Std, monospace;

}

header,
footer {
   background: #242424;
   width: 359px;
   height: 62px;
   filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.25));
}

h1 {
   color: white;
   font-family: "Audiowide", sans-serif;
   font-size: 21px;
}

.imagem {
   position: absolute;
   left: 12px;
   top: 7px
}

.row {
   position: absolute;
   left: 104px;
   margin-top: -1px
}

.row2 {
   position: absolute;
   left: 104px;
   margin-top: 30px
}

h2 {
   color: #FFF;
   text-align: center;
   font-family: Genos;
   font-size: 10px;
   font-style: italic;
   font-weight: 200;
}


H5 {
   color: #000000;
   text-align: center;
   font-family: Genos;
   font-size: 15px;
   font-style: italic;
   font-weight: 200;
   text-align: center;
   margin-top: -50px;
   text-transform: uppercase;
}

H4 {
   color: rgb(0, 0, 0);
   font-family: "Audiowide", sans-serif;
   font-size: 34px;
   text-align: center;
   margin-top: 35px;
}
h6
{
   margin-top: 155px;
   color: #1F3173;
   font-family: "Audiowide", sans-serif;
   font-size: 20px;
   text-align: center;
}
.TOTAL {
   width: 100%;
   height: 50vh;
   display: flex;
   flex-direction: column;
   margin-top: -25px;
   justify-content: space-around;
   font-weight: 800;

}
.caixa1
 {
   width: 357px;
   height: 75px;
   flex-shrink: 0;
   border-radius: 10px;
   background: linear-gradient(180deg, #102986 29.78%, rgba(42, 78, 212, 0.87) 100%);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   margin-top: 15px;
   flex-direction: column;
   justify-content:space-between;
  display: flex; 
 }
.caixa2
 {
   width: 357px;
   height: 75px;
   flex-shrink: 0;
   border-radius: 10px;
   background: linear-gradient(180deg, #102986 29.78%, rgba(42, 78, 212, 0.87) 100%);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   margin-top: 15px;
   flex-direction: column;
   justify-content:space-between;
  display: flex; 
 }
.caixa3
 {
   width: 357px;
   height: 75px;
   flex-shrink: 0;
   border-radius: 10px;
   background: linear-gradient(180deg, #102986 29.78%, rgba(42, 78, 212, 0.87) 100%);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   margin-top: 15px;
   flex-direction: column;
   justify-content:space-between;
  display: flex; 
 }
 .seta
 {
   width: 30px;
   height: 30px;
   margin-top: 15px;
   padding: 5px;
 } 
.T1 {
   width: 150px;
   height: 80vh;
   justify-items: center;
   align-items: center;
   align-content: center;
   display: flex;
   flex-direction: column;
   margin-left: 10px;
}
.T2 {
   width: 100%;
   height: 80vh;
}

.abrir1 {
   width: 220px;
   height: 30px;
   background: #B5B5B5;
   box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   margin-top: 25px;
   margin-left: 10PX;
   border-radius: 20px;
}

.abrir2 {
   width: 230px;
   height:30px;
   background: #B5B5B5;
   box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   margin-top: 10px;
   margin-left: 10PX;
   border-radius: 20px;
}

.abrir3 {
   width: 240px;
   height: 30px;
   background: #B5B5B5;
   box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   margin-top: 10px;
   margin-left: 10PX;
   border-radius: 20px;
}

.borda {
   width: 256px;
   height: 80px;
   flex-shrink: 0;
   border-radius: 10px;
   border: 1px solid #000;
   background: linear-gradient(180deg, rgba(16, 41, 134, 0.00) 4.87%, rgba(42, 78, 212, 0.03) 4.88%);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   margin-left: 50px;
   margin-top: 385px;
   justify-content: space-around;
   justify-items: center;
   align-items: center;
   align-content: center;
   display: flex;
   flex-direction: column;

}

.branco {
   width: 193px;
   height: 30px;
   flex-shrink: 0;
   border-radius: 12px;
   border: 1px solid var(--Color-2, #A6A6A6);
   background: #FFF;
   margin-top: -15px;
}

P {
   margin-top: 5px;
   color: rgb(0, 0, 0);
   font-family: "Audiowide", sans-serif;
   font-size: 14px;
   text-align: center;
}

a
{
   color: white;
   font-size: 20px;
    font-family: "Audiowide", sans-serif;
    margin-top: 20px;
    margin-left: 15px;
}

th {
   height: 80px;
}

td {
   font-family: cursive;
   text-align: center;
   font-size: 15px;
}

table,th,
td {
   border: 0.5px solid;
   border-color: white;
   font-size: 16px;
   margin-top: 10px;
   margin-left: 20px;
}

.box {
   height: 15px;
   width: 15px;
}

.confirmaPAG {
   width: 50PX;
   height: 4vh;
   background-color: #97f3ace4;
   border-radius: 20px;
   border-style: solid;
   border-color: rgb(21, 71, 64);
   font-family: "Audiowide", sans-serif;
   cursor: pointer;
   position: relative;
   margin-left: 25px;
}

.btt {
   width: 90%;
   height: 9vh;
   background-color: transparent;
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
   justify-items: center;
}

.img_ok {
   position: absolute;
   top: 0px;
   left: 0px;
   opacity: 0;
   width: 54px;
   margin-left: 1px;
   margin-top: 1px;
}
.enviar
{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 25px;
    color: white;
    border-style: none;
    background: linear-gradient(292deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.59);
    text-transform: uppercase;
}