body
{
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
}
header,footer
{
    background: #242424;
    width: 359px;
    height: 62px;
    filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.25));
}
.tit 
{
    height: 39px;
    width: 341;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: "Audiowide", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.subtit 
{
    height: 16px;
    width: 219;
    color: #162673;
    text-align: center;
    font-family: Genos;
    font-size: 13px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.dupla1
{
    height: 141px;
    width: 288;
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.op1
{
    width: 126px;
    height: 141px;
    background: linear-gradient(rgb(58, 71, 182), rgba(11, 22, 84, 1));
}
.op2
{
    width: 126px;
    height: 141px;
    background: linear-gradient(rgb(58, 71, 182), rgba(11, 22, 84, 1));
}
.dupla2
{
    height: 141px;
    width: 288;
    background-color: azure;
    display: flex;
    flex-direction: row;
}
.op3
{
    width: 126px;
    height: 141px;
    background: linear-gradient(rgb(58, 71, 182), rgba(11, 22, 84, 1));
}
.op4
{
    width: 126px;
    height: 141px;
    background: linear-gradient(rgb(58, 71, 182), rgba(11, 22, 84, 1));
}
.dupla3
{
    height: 141px;
    width: 288;
    background-color: azure;
    display: flex;
    flex-direction: row;
}
.op5
{
    width: 126px;
    height: 141px;
    background: linear-gradient(rgb(58, 71, 182), rgba(11, 22, 84, 1));
}
.op6
{
    width: 126px;
    height: 141px;
    background: linear-gradient(rgb(58, 71, 182), rgba(11, 22, 84, 1));
}
.sozinha
{
    width: 498px;
    height: 78px;
    flex-shrink: 0;
    background: linear-gradient(rgb(58, 71, 182), rgba(11, 22, 84, 1));
}