*{
    margin: 0;
    padding: 0;
}
body{
    width: 360px;
    height: 740px;
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
}
header,footer{
    background: #1A1B1C;
    width: 359px;
    height: 61px;
    filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.25));
   
    
}
.imagem{
  position: absolute;
    left: 12px;
    top:7px
}
 .row{
    position: absolute;
    left:84px;
    top:9px

 }
 h1{
    color: white;
    font-family: "Audiowide", sans-serif;
    font-size: 21px;
 }
 h2{
    color: #FFF;
    text-align: center;

    font-family: Genos;
    font-size: 10px;
    font-style: italic;
    font-weight: 200;
 }

 .escrita
 {
    width: 100%;
    height: 50px;
    margin-top: -50px;
    color: black;
    font-size: 20px;
    font-family: "Audiowide", sans-serif;
    justify-content:center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
 }

 .fundo
 {
   margin-left: 10px;
   width: 94%;
   height: 600px;
   margin-top: 50px;
   background-color: #e1dfdfe8;
   box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   flex-direction: column;
   justify-content:center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    border-radius: 30px;
 }

 .box
 {
   width: 307px;
   height: 58px;
   flex-shrink: 0;
   border-radius: 10px;
   background: linear-gradient(180deg, #102986 29.78%, rgba(42, 78, 212, 0.87) 100%);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   margin-top: 15px;
   flex-direction: row;
   justify-content:space-around;
  display: flex;
    
 }

 .box6
 {
   width: 307px;
   height: 58px;
   flex-shrink: 0;
   border-radius: 10px;
   background: linear-gradient(180deg, #102986 29.78%, rgba(42, 78, 212, 0.87) 100%);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   margin-top: 15px;
   flex-direction: row;
    display: flex;
  
 }

 h3
 {
    color: white;
    font-size: 19px;
    font-family: "Audiowide", sans-serif;
    margin-top: 20px;
    margin-left: 15px;
    font-weight: 200;
 }
.bebe
{
   margin-top: 20px;
   height: 20px;
   width: 20px;
}
 .seta
 {
   width: 30px;
   height: 25px;
   margin-top: 15px;
   padding: 5px;
 } 

 fieldset
 {
   border-style: none;
 }
 .outros
 {
   margin-top: 20px;
   margin-left: 5px;
   width: 180px;
   height: 17px;
 }

 .dados1
 {
  width: 84%;
  height: 60px;
  display: none;
  opacity:0;
  color: white;
  background-color: red;
  display: flex;
  flex-direction: column;
 }
 
 .dados2
 {
  width: 84%;
  height: 60px;
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.288);
  position: absolute;
  display: none;
  opacity:0;
 }
 
 .dados3
 {
  width: 84%;
  height: 60px;
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.288);
  position: absolute;
  display: none;
  opacity:0;
 }
 
 .dados4
 {
  width: 84%;
  height: 60px;
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.288);
  position: absolute;
  display: none;
  opacity:0;
 }
 .confirma {
   width: 150PX;
   height: 4vh;
   background:white;
   border-radius: 20px;
   border-style: solid;
   border-color:#1F3173;
   font-family: "Audiowide", sans-serif;
   cursor: pointer;
   position: relative;
   margin-left: 25px;
}

.btt {
   margin-top: 10px;
   width: 90%;
   height: 9vh;
   background-color: transparent;
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
   justify-items: center;
}

