* {
   margin: 0;
   padding: 0;
}

body {
   width: 360px;
   height: 740px;
   background: #D9D9D9;
   display: flex;
   flex-direction: column;
}

header,
footer {
   background: #1A1B1C;
   width: 359px;
   height: 61px;
   filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.25));
}

.imagem {
   position: absolute;
   left: 12px;
   top: 7px
}

.row {
   position: absolute;
   left: 84px;
   top: 9px
}

h1 {
   color: white;
   font-family: "Audiowide", sans-serif;
   font-size: 21px;
}

h2 {
   color: #FFF;
   text-align: center;
   font-family: Genos;
   font-size: 10px;
   font-style: italic;
   font-weight: 200;
}

.texto {
   width: 100%;
   height: 50px;
   margin-top: 20px;
   color: black;
   font-size: 25px;
   font-family: "Audiowide", sans-serif;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
   display: flex;
}

.caixa {
   width: 90%;
   height: 570px;
   margin-top:-20px;
   margin-left: 20px;
   flex-shrink: 0;
   flex-direction: column;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
   display: flex;
   font-family: Candara;
   font-size: 20px;
   text-align: center;
}

.c1 {
   width: 100%;
   height: 75px;
   border-radius: 10px;
   flex-direction: column;
   display: flex;
   border-radius: 5px;
   background-color: rgba(225, 222, 218, 0.65);
   box-shadow: 2px 2px 2px 0px rgba(0, 0, 0.25, 0.50), 0px 4px 4px 0px rgba(0, 0, 0.25, 0.25), 0px 4px 4px 0px rgba(0, 0, 0.25, 0.25);
}

.fild1 
{
   height: 50px;
   flex-direction: row;
   display: flex;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
   border-style: none;
   text-align: center;
   margin-left: 40px
;
}

.fild2 {
   height: 50px;
   flex-direction: row;
   display: flex;

}

.fild3 {
   height: 50px;
   flex-direction: row;
   display: flex;
   border-style: none;
}

.bcp {
   margin-top: 6px;
   margin-left: 4px;
   margin-top: 10px;
}

.bcp1 {
   margin-top: 6px;
   margin-left: 4px;
   margin-top: 13px;
   font-size: 17px;
}

.bpm {
   width: 40px;
   height: 25px;
   border-radius: 10px;
   margin-top: 5px;
   margin-left: 130px;
   text-align: center;
   font-family: Candara;
   font-size: 22px;
}

.input1 {
   width: 35px;
   height: 30px;
   border-radius: 10px;
   margin-top: 5px;
   text-align: center;
   font-family: Candara;
   font-size: 22px;
}

.input2 {
   width: 35px;
   height: 30px;
   border-radius: 10px;
   margin-left: 10px;
   margin-top: 5px;
   text-align: center;
   font-family: Candara;
   font-size: 22px;
}

.c2 {
   width: 100%;
   height: 70px;
   background-color: rgba(225, 222, 218, 0.65);
   box-shadow: 2px 2px 2px 0px rgba(0, 0, 0.25, 0.50), 0px 4px 4px 0px rgba(0, 0, 0.25, 0.25), 0px 4px 4px 0px rgba(0, 0, 0.25, 0.25);
   margin-top: 20px;
   border-radius: 5px;
}

.c3 {
   width: 100%;
   height: 70px;
   background-color: rgba(225, 222, 218, 0.65);
   box-shadow: 2px 2px 2px 0px rgba(0, 0, 0.25, 0.50), 0px 4px 4px 0px rgba(0, 0, 0.25, 0.25), 0px 4px 4px 0px rgba(0, 0, 0.25, 0.25);
   margin-top: 20px;
   border-radius: 5px;
}

.c4 {
   width: 100%;
   height: 70px;
   background-color: rgba(225, 222, 218, 0.65);
   box-shadow: 2px 2px 2px 0px rgba(0, 0, 0.25, 0.50), 0px 4px 4px 0px rgba(0, 0, 0.25, 0.25), 0px 4px 4px 0px rgba(0, 0, 0.25, 0.25);
   margin-top: 20px;
   border-radius: 5px;
}

.c5 {
   width: 100%;
   height: 70px;
   background-color: rgba(225, 222, 218, 0.65);
   box-shadow: 2px 2px 2px 0px rgba(0, 0, 0.25, 0.50), 0px 4px 4px 0px rgba(0, 0, 0.25, 0.25), 0px 4px 4px 0px rgba(0, 0, 0.25, 0.25);
   margin-top: 20px;
   border-radius: 5px;
}

.c6 {
   width: 100%;
   height: 70px;
   background-color: rgba(225, 222, 218, 0.65);
   box-shadow: 2px 2px 2px 0px rgba(0, 0, 0.25, 0.50), 0px 4px 4px 0px rgba(0, 0, 0.25, 0.25), 0px 4px 4px 0px rgba(0, 0, 0.25, 0.25);
   margin-top: 20px;
   border-radius: 5px;
}

.x {
   width: 10%;
   height: 70%;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
   display: flex;
   margin-left: 10px;
   margin-top: 14px;
}

.fild4 {
   height: 50px;
   flex-direction: row;
   display: flex;
   border-style: none;
}

.seg{
   margin-top: 6px;
   margin-left: 70px;
   height: 25px;
   width: 17%;
   font-size: 20px;
   align-items: center;
   align-content: center;
   display: flex;

}

.check{
   height: 25px;
   width: 17%;
   margin-top: 7px;
   margin-left:-12px;
}

.check2{
   height: 25px;
   width: 17%;
   margin-top: 7px;
   margin-left:-12px;
}

.seg2{
   margin-top: 6px;
   margin-left: 4px;
   height: 25px;
   width: 20%;
   font-size: 20px;
   align-items: center;
   align-content: center;
   display: flex;

}
.confirma {
   width: 150PX;
   height: 4vh;
   background:white;
   border-radius: 20px;
   border-style: solid;
   border-color:#1F3173;
   font-family: "Audiowide", sans-serif;
   cursor: pointer;
   position: relative;
   margin-left: 25px;
}

.btt {
   margin-top: 10px;
   width: 90%;
   height: 9vh;
   background-color: transparent;
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
   justify-items: center;
}

.img_ok {
   position: absolute;
   top: 0px;
   left: 0px;
   opacity: 0;
   width: 54px;
   margin-left: 1px;
   margin-top: 1px;
}