* {
   margin: 0;
   padding: 0;
}

body {
   width: 360px;
   height: 740px;
   background: #D9D9D9;
   display: flex;
   flex-direction: column;
}

header,
footer {
   background: #1A1B1C;
   width: 359px;
   height: 61px;
   filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.25));
}

.imagem {
   position: absolute;
   left: 12px;
   top: 7px
}

.row {
   position: absolute;
   left: 84px;
   top: 9px
}

h1 {
   color: white;
   font-family: "Audiowide", sans-serif;
   font-size: 21px;
}

h2 {
   color: #FFF;
   text-align: center;
   font-family: Genos;
   font-size: 10px;
   font-style: italic;
   font-weight: 200;
}

.texto {
   width: 100%;
   height: 50px;
   margin-top: 10px;
   color: black;
   font-size: 25px;
   font-family: "Audiowide", sans-serif;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
   display: flex;
}

.trauma {
   width: 100%;
   height: 35px;
   background-color: #1A1B1C;
   color: white;
   font-size: 12px;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
   display: flex;
}

.img {
   width: 100%;
   height: 45vh;
   background-color: thistle;
}



.info {
   width: 100%;
   height: 35vh;
   background-color: #1A1B1C;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
   display: flex;
}

.dados {
   width: 92%;
   height: 85%;
   border-radius: 16px;
   background-color: #9E9E9E;
   justify-content: space-around;
   justify-items: center;
   flex-direction: column;
   align-items: center;
   align-content: center;
   display: flex;

}

.tipo {
   width: 100%;
   height: 15%;
   background-color: thistle;
   border-top-right-radius: 16px;
   border-top-left-radius: 16px;
   justify-items: center;
   flex-direction: row;
   align-items: center;
   align-content: center;
   display: flex;
   gap: 3px;
   margin-top: 0%;
}

.espacar {
   width: 55%;
   height: 90%;
   border-top-right-radius: 16px;
   border-top-left-radius: 16px;
   justify-items: center;
   flex-direction: row;
   align-items: center;
   align-content: center;
   display: flex;
   gap: 8px;
}

.local {
   width: 45%;
   height: 70%;
   font-size: 15px;
   text-align: center;
   font-family: "Audiowide", sans-serif;

}

.evelin {
   width: 100%;
   height: 85%;

   border-bottom-left-radius: 16px;
   border-bottom-right-radius: 16px;
   justify-items: center;
   flex-direction: row;
   align-items: center;
   align-content: center;
   display: flex;
   gap: 18px;
}

.fil {
   width: 20%;
   height: 100%;

}

.fil1 {
   width: 20%;
   height: 100%;
   margin-left: 5px;
}

.boxi {
   width: 90%;
   height: 15px;
   border-radius: 5px;
   margin-top: 10px;
   border-style: none;
}

.fieldset {
   height: 100%;
   gap: 10px;
   border-style: none;
}




.braco{
   position: absolute;
   top:260px;
   left:220px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.braco2{
   position: absolute;
   top:260px;
   left:310px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.coxa{
   position: absolute;
   top:340px;
   left:245px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.coxa2{
   position: absolute;
   top:340px;
   left:285px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.canela{
   position: absolute;
   top:420px;
   left:250px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.canela2{
   position: absolute;
   top:420px;
   left:285px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.pe{
   position: absolute;
   top:460px;
   left:255px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.pe2{
   position: absolute;
   top:460px;
   left:285px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.cabeca{
   position: absolute;
   top:165px;
   left:268px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.peito{
   position: absolute;
   top:230px;
   left:250px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.peito2{
   position: absolute;
   top:230px;
   left:285px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.abdomen{
   position: absolute;
   top:265px;
   left:250px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.abdomen2{
   position: absolute;
   top:265px;
   left:285px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}



.cabeca2{
   position: absolute;
   top:165px;
   left:93px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.braco3{
   position: absolute;
   top:260px;
   left:50px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.braco4{
   position: absolute;
   top:260px;
   left:140px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.coxa3{
   position: absolute;
   top:340px;
   left:115px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.coxa4{
   position: absolute;
   top:340px;
   left:75px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.panturra{
   position: absolute;
   top:410px;
   left:110px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}

.panturra2{
   position: absolute;
   top:410px;
   left:75px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border-style: solid;
   border-color: black;
}