* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-direction: column;
    align-items: center;


}

header,
footer {
    background: #1A1B1C;
    width: 100%;
    height: 10%;
    filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.25));


}

.imagem {
    position: absolute;
    left: 12px;
    top: 7px
}



.row {
    position: absolute;
    left: 84px;
    top: 9px
}

h1 {
    margin-top: 10px;
    color: white;
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
}

h2 {
    color: #FFF;
    text-align: center;
    font-family: Genos;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
}

H3 {
    color: #000000;
    text-align: center;
    font-family: Genos;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    margin-top: 55PX;
}

H4 {
    color: rgb(0, 0, 0);
    font-family: "Audiowide", sans-serif;
    font-size: 25px;
    text-align: center;
}

.opcao1 {
    margin-top: 20px;
    margin-left: 600px;
    border-radius: 10px;
    display: flex;
    width: 150px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #f3f3f3;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    font-family: "Audiowide", sans-serif;
    border-radius: 50px;
    border: 1px solid #FFF;
    background: #000;
}

.opcao2 {
    margin-top: -41px;
    margin-left: 800px;
    border-radius: 10px;
    display: flex;
    width: 300px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #f3f3f3;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    font-family: "Audiowide", sans-serif;
    border-radius: 50px;
    border: 1px solid #FFF;
    background: #000;
}

.opcao3 {
    margin-top: -42px;
    margin-left: 1150px;
    border-radius: 10px;
    display: flex;
    width: 350px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #f3f3f3;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    font-family: "Audiowide", sans-serif;
    border-radius: 50px;
    border: 1px solid #FFF;
    background: #000;
}
/* Adicionei um estilo para o botão de voltar */
.btn-voltar {
    
   
    background: transparent;
    border: none;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: "Audiowide", sans-serif;
    margin-top: 30px;
}

.btn-voltar i {
    margin-right: 5px;
}
.voltar{
    width: 100%;
    height: 50px;
display: flex; 
margin-left: 60px;
}
.titulo {
    width: 100%;
    height: 50px;
    margin-left: 5px;
    margin-top: 20px;
    color: black;
    font-size: 30px;
    font-family: "Audiowide", sans-serif;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    text-align: center;
    margin-bottom: 20px;

}

.caixa {
    width: 1166px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 34px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.250), 4px 4px 4px 0px rgba(0, 0, 0, 0.50), 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    display: flex;
}

.cdt {
    width: 100%;
    height: 17%;

    border-top-right-radius: 34px;
    border-top-left-radius: 34px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.add {
    width: 35%;
    height: 50%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    display: flex;
    transition: 0.5s;
    margin-left: 8px;

}

.select {
    width: 80%;
    height: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
    border-radius: 10px;
    padding-left: 10px;
    font-family: Candara;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid #000;
    background: #D9D9D9;
    padding-top: -50px;
    margin-left: 10px;
}

.lupa {
    width: 30px;
    height: 30px;
    margin-left: 450px;
}

.marge {
    width: 20%;
    height: 50%;
    margin-right: 20px;
}

.add:hover {
    background-color: #e9e9e9;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 35%;
    cursor: pointer;
}

.opcao1:hover {
    background: #102986;
    color: #FFF;
    border-radius: 50px;
    box-shadow: 4px 4px 4px 0px rgba(92, 92, 92, 0.25), 0px 4px 4px 0px rgba(92, 92, 92, 0.25), 0px 4px 4px 0px rgba(92, 92, 92, 0.25);
    width: 150px;
    cursor: pointer;
}

.opcao2:hover {
    background: #102986;
    color: #FFF;
    border-radius: 50px;
    box-shadow: 4px 4px 4px 0px rgba(92, 92, 92, 0.25), 0px 4px 4px 0px rgba(92, 92, 92, 0.25), 0px 4px 4px 0px rgba(92, 92, 92, 0.25);
    width: 300px;
    cursor: pointer;
}

.opcao3:hover {
    background: #102986;
    color: #FFF;
    border-radius: 50px;
    box-shadow: 4px 4px 4px 0px rgba(92, 92, 92, 0.25), 0px 4px 4px 0px rgba(92, 92, 92, 0.25), 0px 4px 4px 0px rgba(92, 92, 92, 0.25);
    width: 350px;
    cursor: pointer;
}

.linha {
    width: 100%;
    height: 0.5%;
    margin-top: 15px;
    background-color: black;
}

.btn {
    width: 100%;
    height: 60px;
    margin-left: 50px;
    font-size: 20px;
    background-color: transparent;
    border-style: none;
    color: black;
    text-decoration: none;
    transition: 0.3;
    border-radius: 10px;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    transition: 0.5s;
}



.cadastros {
    width: 90%;
    height: 100%;
    margin-top: 30px;
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;
    overflow-y: scroll;
}


.barra {
    width: 90%;
    height: 20%;
    background-color: #D9D9D9;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    transition: 0.5s;

}

.barra:hover {
    background-color: #c2c2c2;
    cursor: pointer;
}

.detalhes-usuario {
    display: flex;
    flex-direction: row;
    font-family: Candara;
    font-size: 22px;
    margin-top: 20px;
}

.usuario> {
    margin-right: 10px;
    /* ou qualquer valor desejado */
}

.usuario>*:last-child {
    margin-right: 0;
    /* Remove a margem do último elemento */
}

.btn-alterar {
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background: #102986;
    color: #FFF;
    text-align: center;
    font-family: Candara;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.excluir {
    width: 100px;
    height: 28px;
    border-radius: 30px;
    background: #861010;
    color: #FFF;
    text-align: center;
    margin-top: 20px;
    font-family: Candara;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px; /* Centraliza verticalmente o texto */
    text-transform: uppercase;
    box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    transition: 0.5;
}
.excluir:hover{
    cursor: pointer;
    background-color: #58090e;
}

.botoes-usuario {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: end;
}

.info-usuario {
    display: flex;
    flex-direction: row;
    /* Alterado para uma linha para alinhar as informações horizontalmente */
    font-family: Candara;
    font-size: 22px;
    margin-top: 20px;
    align-items: center;
    /* Alinha as informações verticalmente ao centro */
}

.info-usuario:hover {
    cursor: pointer;

}

.info-id,
.info-nome,
.info-email {
    margin-right: 20px;
    /* Adiciona espaçamento entre as informações com margem direita */
}

/* Adicione estilos para destacar o que é cada informação (ID, Nome, Email) */
.info-id::before {
    content: "ID: ";
    /* Adiciona rótulo "ID: " antes da informação de ID */
    font-weight: bold;
}

.info-nome::before {
    content: "Nome: ";
    /* Adiciona rótulo "Nome: " antes da informação de Nome */
    font-weight: bold;
}

.info-email::before {
    content: "Email: ";
    /* Adiciona rótulo "Email: " antes da informação de Email */
    font-weight: bold;
}