* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
  

}

header,
footer {
    background: #1A1B1C;
    width: 100%;
    height: 10%;
    filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.25));


}

.imagem {
    position: absolute;
    left: 12px;
    top: 7px
}

.espaco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.row {
    position: absolute;
    left: 84px;
    top: 9px
}

h1 {
    color: white;
    font-family: "Audiowide", sans-serif;
    font-size: 31px;
}

h2 {
    color: #FFF;
    text-align: center;
    font-family: Genos;
    font-size: 10px;
    font-style: italic;
    font-weight: 200;
    margin-left: -90px;
}

H3 {
    color: #000000;
    text-align: center;
    font-family: Genos;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    margin-top: 55PX;
}

H4 {
    color: rgb(0, 0, 0);
    font-family: "Audiowide", sans-serif;
    font-size: 25px;
    text-align: center;
}

.titulo {
    width: 100%;
    height: 50px;
    margin-left: 5px;
    margin-top: 40px;
    color: black;
    font-size: 30px;
    font-family: "Audiowide", sans-serif;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    text-align: center;

}

.caixa {
    width: 1166px;
    height: 586px;
    flex-shrink: 0;
    border-radius: 34px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.250), 4px 4px 4px 0px rgba(0, 0, 0, 0.50), 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    display: flex;
}
.cdt {
    width: 100%;
    height: 17%;
  
    border-top-right-radius: 34px;
    border-top-left-radius: 34px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 
}

.add {
    width: 35%;
    height: 50%;
    
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    display: flex;
    transition: 0.5s;
    background-color: #e7e7e7;
    width: 35%;

    border: solid rgb(175, 175, 175) 1px;
    border-radius: 15px;
}
.meucu{
    width:100%;
    height:100%;
    
    
  
}
.margimdocu{
    width:30%;
    height:50%;
    margin-right:20px;
}


.linha {
    width: 100%;
    height:  0.5%;
    margin-top: 15px;
    background-color: black;
}

.btn {
    width: 100%;
    height: 60px;
    margin-left: 50px;
    font-size: 20px;
    background-color: transparent;
    border-style: none;
    color: black;
    text-decoration: none;
    transition: 0.3;
    border-radius: 10px;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    transition: 0.5s;
}



.cadastros {
    width: 90%;
    height: 100%;
    margin-top: 30px;
    max-height: 400px; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;
    overflow-y: scroll;
}


.barra {
    width: 90%;
    height: 20%;
    background-color: #e7e7e7;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    transition: 0.5s;

}
.barra:hover{
    background-color: #818181;
}
.detalhes-usuario {
    display: flex;
    flex-direction: row;
    font-family: Candara;
    font-size: 22px;
    margin-top: 20px;
    
}
.butao{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 20px;
}
.option{
    border-radius: 10px;
}
.filtro{
    width: 406px;
    height: 30%;
    border-radius: 10px;
    background: #102986;
    color: #FFF;
    text-align: center;
    margin-top: 20px;
    font-family: Candara;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px; /* Centraliza verticalmente o texto */
    text-transform: uppercase;
    box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    transition: 0.8;
    border: none;
}
.filtro:hover{
    cursor: pointer;
    background-color: #091a58;
}
select{
    height: 100%;
    border-radius: 15px;
}
.usuario > {
    margin-right: 10px; /* ou qualquer valor desejado */
}

.usuario > *:last-child {
    margin-right: 0; /* Remove a margem do último elemento */
}
.btn-alterar{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background: #102986;
    color: #FFF;
       text-align: center;
    font-family: Candara;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
 
.a::before {
    content: "listar por "; /* Adiciona rótulo "Nome: " antes da informação de Nome */
    font-weight: bold;
}
.excluir {
    width: 100px;
    height: 28px;
    border-radius: 30px;
    background: #102986;
    color: #FFF;
    text-align: center;
    margin-top: 20px;
    font-family: Candara;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px; /* Centraliza verticalmente o texto */
    text-transform: uppercase;
    box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    transition: 0.5;
}
.excluir:hover{
    cursor: pointer;
    background-color: #091a58;
}

.botoes-usuario {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: end;   
}

.info-usuario {
    display: flex;
    flex-direction: row; /* Alterado para uma linha para alinhar as informações horizontalmente */
    font-family: Candara;
    font-size: 22px;
    margin-top: 20px;
    align-items: center; /* Alinha as informações verticalmente ao centro */
}
.info-usuario:hover{
 cursor: pointer;
 
}

.info-id,
.info-nome,
.info-email {
    margin-right: 20px; /* Adiciona espaçamento entre as informações com margem direita */
}

/* Adicione estilos para destacar o que é cada informação (ID, Nome, Email) */
.info-id::before {
    content: "numero: "; /* Adiciona rótulo "ID: " antes da informação de ID */
    font-weight: bold;
}

.info-nome::before {
    content: "Nome: "; /* Adiciona rótulo "Nome: " antes da informação de Nome */
    font-weight: bold;
}

.info-email::before {
    content: "data: "; /* Adiciona rótulo "Email: " antes da informação de Email */
    font-weight: bold;
}

